.catalog__body {
  width: 100%;
  height: 100vh;
  background-color: #fbfbfb;
  overflow-y: auto;
  display: flex;
  justify-content: center;
}
.not-found {
  margin-left: 40px;
  margin-top: 40px;
  justify-self: flex-start;
  font-size: 20px;
  font-family: Gilroy-medium;
}
