.homepage {
  width: 100%;
  height: 100vh;
  background-image: url("../../icons/homepage.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.homepage__header {
  width: 100%;
  height: 60px;
  background-color: rgba(36, 41, 62, 0.39);
  display: flex;
}
.icon__wrapper {
  flex: 1 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon__wrapper > img {
  height: 85%;
}

.buttons__wrapper {
  flex: 1 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center__container {
  width: 70%;
  height: 300px;
  margin: 100px auto;
  background-color: rgb(12, 3, 43, 0.39);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.center__container > img {
  margin-bottom: 10px;
}
.homepage__header {
  color: rgb(255, 255, 255, 1);
  background-color: rgb(12, 3, 43, 0);
  font-family: Gilroy-bold;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homepage__nav-link{
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
}