.login__container {
  width: 500px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffff;
  border-radius: 6px;
}
.login__header {
  width: 90%;
  height: 40px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login__heading {
  font-family: Gilroy-regular;
  font-size: 22px;
  letter-spacing: 1px;
}
.login__inputs {
  margin-top: 30px;
  height: 400px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.login__sign-up {
  margin-top: 10px;
  font-family: Gilroy-regular;
}

.login__sign-up > b {
  cursor: pointer;
}
.login__error-message {
  font-family: Gilroy-medium;
  font-size: 17px;
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(252, 208, 208);
  height: 40px;
  color: red;
}
.login-with__wrapper {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.login-with__header {
  width: 80%;
  position: relative;
  border: 1px solid #92d4da;
}
.login-with__header > div {
  position: absolute;
  font-family: Gilroy-medium;
  font-size: 15px;
  z-index: 2;
  left: 40%;
  top: -10px;
  padding: 0 3px 0 3px ;
  background-color: #ffff;
}
