.form__container {
  width: 500px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffff;
  border-radius: 6px;
}
.form__header {
  width: 90%;
  height: 40px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form__heading {
  font-family: Gilroy-regular;
  font-size: 22px;
  letter-spacing: 1px;
}
.form__inputs {
  margin-top: 30px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.form__sign-in {
  font-family: Gilroy-regular;
  margin-top: 40px;
}

.form__sign-in > b {
  cursor: pointer;
}
.register__error-message{
  font-family: Gilroy-medium;
  font-size: 17px;
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(252, 208, 208);
  height: 40px;
  margin: 8px;
  color: red;
}

.loggedin-message{
  margin-top: 60px;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.loggedin-message > p{
  font-family: Gilroy-semibold;
  font-size: 20px;
}
.loggedin-message :last-child{
  color: rgb(59, 116, 221);
  cursor: pointer;
  text-decoration: underline;
}
