.catalog__button {
  height: 30px;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 11px;
  font-family: Gilroy-medium;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #61d5df;
  cursor: pointer;
  padding: 0 15px 0 15px;
}
.catalog__button:hover {
  background-color: #53aeb6;
}
.catalog__button:active {
  background-color: #48949b;
}
/* Filter-RESET Button  */
.filter-reset__button-div {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.filter-reset__button {
  width: 90%;
  height: 40px;
  font-size: 14px;
}
/* Filter Button */
.filter__button {
  display: none;
}
.filter__button {
  display: none;
}
@media screen and (max-width: 940px) {
  .filter__button {
    display: block;
  }
}
@media screen and (max-width: 720px) {
  .filter__button {
    display: none;
  }
}

/* Select Button */
.select__button {
  padding: 0 15px 0 15px;
  margin-right: 5px;
}
@media screen and (max-width: 1324px) {
  .select__button {
    display: none;
  }
}

/* Clear Button */

@media screen and (max-width: 1324px) {
  .display__none--permanent{
    display: none;
  }
}
/* Add item Button big*/
.add-item__button--big {
  padding: 0 6px 0 6px;
  margin: 0 20px;
  min-width: 130px;
  max-height: 40px;
  min-height: 40px;
}
/* add item button small */
.add-item__button--small {
  padding: 0 6px 0 6px;
  margin: 0 10px 0 10px;
  width: 40px;
  display: none;
}
@media screen and (max-width: 546px) {
  .add-item__button--big {
    display: none;
  }
  .add-item__button--small {
    display: block;
  }
}

/* Product Modal button */
.product-modal__button{
  height: 40px;
  width: 270px;
  font-size: 16px;
}

/*  inventory button */
.inventory__buttons{
  text-align: center;
  min-height: 40px;
  margin-right: 5px;
  margin-left: 5px;
  padding: 0 5px 0 5px;

}
@media screen and (max-width: 750px) {
  .inventory__buttons {
    display: none;
  }
}
.add-new-product__button{
  height: 25px;
  margin-right: 50px;
}