
.personal-info__form {
    max-width: 1400px;
    height: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }
  .containers-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .user-info__containers {
    flex: 1 400px;
    margin: 30px;
    margin-top: 20px;
    height: 350px;
    display: flex;
    flex-direction: column;
  }
  .user-info__heading {
    margin: 10px;
    font-family: Gilroy-bold;
    font-size: 17px;
    color: rgb(48, 56, 86);
  }
  .user-info__body {
    height: 90%;
    width: 100%;
    margin-left: 10px;
    background-color: rgb(249, 251, 254);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .profile-photo__container {
    border-radius: 50%;
    box-shadow: 0 0 10px 1px rgb(97, 213, 223);
  }
  .profile-photo {
    border-radius: 50%;
    box-shadow: 0 0 10px 2px #fff;
  }
  
  .input__container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .input-label {
    font-family: gilroy-medium;
    font-size: 16px;
    margin-bottom: 5px;
  }
  .personal-info__input {
    width: 100%;
    border: 1px solid rgb(199, 199, 199);
    outline: none;
    color: grey;
    font-family: Gilroy-medium;
    font-size: 16px;
    height: 30px;
  }
  .personal-info__error-message {
    font-family: Gilroy-regular;
    font-size: 16px;
    margin-top: 10px;
    color: red;
  }
  