.profile__wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.profile__body {
  width: 100%;
  height: calc(100% - 76.5px) !important;
  background-color: rgb(248, 249, 250);
  overflow-y: auto;
  display: flex;
  justify-content: center;
}
.profile__card {
  width: 92%;
  height: auto !important;
  margin-top: 10px;
  background-color: #fff;
}
.card__header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgb(245, 245, 245);
}
.headdings__wrapper {
  margin-left: 20px;
  height: 100%;
  display: flex;
}
.card__heading {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-left: 10px;
  font: Gilroy-semibold;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(48, 56, 86);
}
.card__button {
  width: 180px;
  height: 100%;
  height: 45px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font: Gilroy-semibold;
  font-weight: 600;
  text-transform: uppercase;
  background-color: rgb(255, 241, 241);
  color: rgb(255, 136, 123);
  cursor: pointer;
  border-radius: 4px;
}
.active__heading {
  border-bottom: 3px solid rgb(89, 185, 230);
}
.card__body {
  width: 100%;
  height: auto;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}