.profile__header {
  width: 100%;
  box-sizing: border-box;
  min-height: 76.5px;
  background-color: rgb(249, 251, 254);
  border: 1px solid rgb(224, 224, 224);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile__heading {
  margin-left: 50px;
  color: rgb(48, 56, 86);
}
.header__rigth-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50%;
  margin-right: 70px;
}
.header__logout-btn {
  font-family: Gilroy-bold;
  width: 100px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(112, 210, 240);
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 20px;
}
