.catalog__header {
  width: 100%;
  min-height: 120px;
  background-color: #faf9f8;
  display: flex;
  flex-direction: column;
}
.catalog__functions {
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
}
.functions__left-section {
  flex: 1 40%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.functions__right-section {
  flex: 1 60%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.left-section__btns-wrapper {
  margin-left: 45px;
  display: flex;
  align-items: center;
}
.right-section__input-btns-wrapper {
  width: 100%;
  margin-right: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/* sort */
.catalog__sort {
  background-color: #ffffff;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(233, 233, 233);
  box-shadow: 0 1 1px 12px rgb(201, 201, 201);
  display: flex;
}
@media screen and (max-width: 1440px) {
  .right-section__input-btns-wrapper {
    margin-right: 30px;
  }
}

@media screen and (max-width: 546px) {
  .select-btns__container {
    margin-left: 10px;
  }
}
