  .select__button--changed{
    width: 20px;
    display: flex;
    justify-content: center;
    padding: 0 5px 0 5px;
    margin-left: 6px;
    display: none;
  }
  .sel-btn__changed--img {
    width: 20px;
    height: 20px;
    margin: auto, auto;
    margin-top: 5px;
    background-color: #ffffff;
    border-radius: 50%;
  }
  @media screen and (max-width: 1324px){
    .select__button--changed{
      display: block;
    }
  }