.filter__button--changed {
  height: 30px;
  width: 20px;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 11px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #61d5df;
  cursor: pointer;
  padding: 0 5px 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

@media screen and (max-width: 720px) {
  .filter__button--changed {
    /* display: block; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
