.select__selected-items {
    height: 28px;
    margin-left: 8px;
    margin-right: 8px;
    /* min-width: 200px; */
    border-left: 1px solid rgb(196, 196, 196);
    display: flex;
    align-items: center;
  }
  .selected-items__amount {
    align-self: center;
    font-weight: 500;
    font-size: 12px;
    margin-left: 15px;
    font-family: Gilroy-medium;
    font-weight: 900;
    text-align: center;
  }
  .selected-items__after {
    display: none;
  }
  @media screen and (max-width: 1324px) {
    .select__selected-items{
      border-left: none;
    }
  }
  @media screen and (max-width: 1224px) {
    .selected-items__before{
      display:none;
    }
    .selected-items__after {
      display: block;
    }
    .select__selected-items{
      min-width: 100px;
      border-left: none;
    }
  }
  @media screen and (max-width: 546px){
    .select__selected-items{
      display: none;
    }
  }