.search-input-icon__container {
  display: flex;
  width: 50%;
}
.search-input__form {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.search__input {
  height: 32px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 14px;
  padding-left: 10px;
  font-family: Gilroy-medium;
  font-weight: 800;
  border-radius: 5px 0 0 5px;
}
.search__button {
  height: 34px;
  width: 50px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  border-radius: 0 5px 5px 0;
}
.search__button--image {
  align-self: center;
  width: 20px;
  cursor: pointer;
}
.fa-search {
  color: grey;
  align-self: center;
  cursor: pointer;
}
@media screen and (max-width: 786px) {
  .search__input {
    display: none;
  }
  .search__button {
    border-radius: 0 0 0 0;
    width: 34px;
    background-color: rgb(243, 243, 243);
  }
}

