.sort__wrapper {
  height: 100%;
  align-self: center;
  margin-left: 45px;
  display: flex;
  align-items: center;
}
.sort__icon-title-wrapper {
  display: flex;
  align-items: center;
}
.sort__icon {
  margin-right: 5px;
}
.sort__icon--img {
  margin-top: 7px;
  width: 20px;
}
.sort__title {
  color: rgb(155, 159, 168);
  font-size: 14px;
  /* min-width: 58px; */
}
.sort__options {
  border: none;
  outline: none;
  font-family: Gilroy-regular;
  color: rgb(155, 159, 168);
  background-color: #ffff;
  cursor: pointer;
  font-size: 14px;
  /* width: auto; */
  /* max-width: auto; */
}
@media screen and (max-width: 500px) {
  .sort__wrapper {
    margin-left: 0;
  }
  .sort__title,
  .sort__options {
    font-size: 12px;
  }
  .sort__options {
    margin-left: 5px;
    max-width: 50px;
  }
}
