.inventory-search-input__container {
    display: flex;
    width: 35%;
  }
  .inventory-search-input__form {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  .inventory__search-input {
    height: 32px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 14px;
    padding-left: 10px;
    font-family: Gilroy-medium;
    font-weight: 800;
    border-radius: 5px 0 0 5px;
  }
  .inventory__search-button {
    height: 34px;
    width: 50px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    border-radius: 0 5px 5px 0;
  }
  .search__button--image {
    align-self: center;
    width: 20px;
    cursor: pointer;
  }
  .fa-search {
    color: grey;
    align-self: center;
    cursor: pointer;
  }
  @media screen and (max-width: 1224px) {
    .inventory__search-input  {
      display: none;
    }
    .inventory__search-button {
      border-radius: 0 0 0 0;
      width: 34px;
      background-color: rgb(243, 243, 243);
    }
    .inventory-search-input__container {
      width: 10%;
    }
  }
  
  