.inventory__header {
  width: 100%;
  min-height: 120px;
  background-color: #faf9f8;
  display: flex;
  flex-direction: column;
}
.inventory__functions {
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
}
.left__section{
  flex: 1 ;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.left-section__btns-wrapper{
  margin-left: 45px;
  display: flex;
  align-items: center;
}
.right__section{
  flex: 2; 
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.right-section__btns-wrapper{
  width: 100%;
  margin-right: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.inventory__sort {
  background-color: #ffffff;
  width: 100%;
  height: 45px;
  border-bottom: 1px solid rgb(233, 233, 233);
  box-shadow: 0 1 1px 12px rgb(201, 201, 201);
  display: flex;
}

@media screen and (max-width: 1214px){
  .left__section{
    flex: 1 20%;
  }  
  .right__section{
    flex: 2 80%;
  }
  .right-section__btns-wrapper{
    margin-right: 20px;
    justify-content: flex-end;
    align-items: center;
  }
 }
 @media screen and (max-width: 730px) {
  .inventory__sort{
    justify-content: center;
  }
}
@media screen and (max-width: 546px) {
  .left-section__btns-wrapper{
    margin-left: 10px;
  }
}