.inventory__body {
    width: 100%;
    height: 100vh;
    background-color: #fbfbfb;
    overflow-y: auto;
    display: flex;
    justify-content: center;
  }

  .empty-inventory{
    align-self: center;
    font-family: Gilroy-semibold;
    font-size: 24px;
  }