.aside {
  height: 100vh;
  flex-basis: 257px;
  min-width: 257px;
  background-color: #ecedf5;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}
@media screen and (max-width: 1224px) {
  .catalog__filter {
    min-width: 220px;
    max-width: 220px;
  }
}
@media screen and (max-width: 940px) {
  .catalog__filter {
    display: none;
  }
}

