.choose-category__wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  background-color: #ecedf5;
  box-shadow: 0px 1px 1px #a0a6bb;
  overflow-y: auto;
}
.choose-category__list {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
}
.choose-category__option {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  justify-content: flex-start;
}
.choose-category__option:hover {
  background-color: #dbdff2;
  cursor: pointer;
}
.choose-category__option > span {
  margin-left: 25px;
  font-family: Gilroy-medium;
  font-weight: 600;
  font-size: 15px;
  color: #5e5485;
}
