.choose-niche__wrapper {
  width: 100%;
  max-height: 250px;
  display: flex;
  justify-content: flex-start;
  background-color: #ecedf5;
  box-shadow: 0px 1px 1px #a0a6bb;
  overflow-y: auto;
}
.choose-niche__list {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
}
.choose-niche__option {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  justify-content: flex-start;
}

.choose-niche__option:hover {
  background-color: #dbdff2;
  cursor: pointer;
}

.choose-niche__option > span {
  margin-left: 25px;
  font-family: Gilroy-semibold;
  font-weight: 500;
  font-size: 16px;
  color: #5e5485;
  text-decoration: none;
}

.nav-link__category {
  text-decoration: none;
}
.category-active {
  background-color: #dbdff2;
}
