.product-selector__wrapper {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #5d6b9f;

}
.product-selector__options{
  width: 84%;
  height: 30px;
  appearance: none;
  font-size: 17px;
  font-family: Gilroy-bold;
  color: #ffff;
  outline: none;
  border: none;
  text-transform: capitalize;
}
.product-selector__options--Niche,
.product-selector__wrapper--Niche {
  background-color: #5d6b9f;
}
.product-selector__options--Category,
.product-selector__wrapper--Category {
    background-color: #9da9d5;
}
.arrow-icon {
  color: #ffff;
  margin-right: 4px;
}

