.list__item {
  width: 100%;
  display: flex;
  align-items: center;
  height: 18px;
  cursor: pointer;
}
.list__item {
  margin-top: 4px;
}
.list__item:first-child {
  margin-top: 7px;
}
.item__checkbox {
  cursor: pointer;
}
.country__flag {
  width: 18px;
  height: 13px;
  margin-left: 5px;
}
.item__name {
  font-family: Gilroy-medium;
  font-size: 15px;
  color: rgb(104, 104, 104);
  margin-left: 6px;
}
.list__item:hover .item__name {
  font-family: Gilroy-semibold;
  color: black;
}

.item__name--highlited {
  font-family: Gilroy-semibold;
  color: black;
}
