.selector__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.selector__options {
  width: 90%;
  height: 40px;
  background-color: #ffff;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.selector__header {
  font-size: 14px;
  font-family: Gilroy-regular;
  font-weight: 500;
  color: #52586e;
  margin-left: 8px;
}
.arrow-quantity__wrapper{
  display: flex;
}
.arrow__icon--shipping {
  margin-right: 8px;
  color: black;
}

.drop-down__list {
  width: 90%;
  height: 200px;
  display: flex;
  justify-content: center;
  background-color: #ffff;
}
.list-items__wrapper {
  width: 93%;
  height: 98%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffff;
  border-top: 1px solid rgb(168, 168, 168);
  overflow-y: auto;
}
.selected__quantity{
  width: 20px;
  height: 20px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f5fc;
}
.selected__quantity{
  font-size: 14px;
  color: #5a92f0;
  font-family: Gilroy-medium;
}