.slider__wrapper{
    width: 90%;
    display:flex;
    flex-direction: column;
    align-content: center;
    margin-top: 8px;
}
.slider__heading {
    font-size: 14px;
    margin-left: 1px;
    font-family: Gilroy-regular;
    font-weight: 600;
    text-transform: uppercase;
    color: #52586e;
  }

.slider__indicators-wrapper{
    display: flex;
    justify-content: space-between;
}
.amount-from__wrapper, .amount-to__wrapper{
    display: flex;   
}
.slider__symbol{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 25px;
    background-color: #ffff;
    border-right: 1px solid #ccd1d4;
}
.slider__amount{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 25px;
    background-color: #ffff;

}
.amount,.symbol{
    font-size: 14px;
    font-family: Gilroy-regular;
    color:#929597;
}
.amount{
    color:#80888f;
}