.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.burger-menu__wrapper{
  width: 0;
  height: 0;
}
@media screen and (min-width: 1085px) {
  .burger-menu__wrapper {
    display: none;
  }
}