.web-page__icon-div {
  width: 100%;
  height: 75px;
  border-top: 1px solid rgb(224, 224, 224);
  border-bottom: 1px solid rgb(224, 224, 224);
  display: flex;
  justify-content: center;
  align-items: center;
}
.web-page__icon {
  width: 35px;
  min-height: 22px;
  cursor: pointer;
}
