.header {
  /* flex-basis: 65px; */
  min-width: 65px;
  width: 65px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1085px) {
  .header {
    display: none;
  }
}
