.navbar {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
}
.nav__item--active {
  border-left: 3px solid rgb(0, 217, 255);
  background-color: rgb(241, 253, 255);
}

.nav__item--active > .nav-item__icon > i {
  color: rgb(0, 217, 255);
}
