.nav-item__container{
    box-sizing: border-box;
    width: 100%;
    height: 55px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item__icon{
    color: #49547d;
}
.nav-item__icon:hover{
    color: rgb(71, 227, 255); 
}

.nav__item--active .nav-item__icon  {
    color: rgb(0, 217, 255);
  }