.nav-item__container {
  box-sizing: border-box;
  width: 100%;
  min-height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__item-img {
  align-self: center;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 0 1px 2px rgb(170, 241, 253);
}
