.temporary__wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.temporary__header {
  font-family: Gilroy-bold;
  font-size: 30px;
}
