.burger__menu {
  display: none;
  align-self: center;
  margin-right: 15px;
  cursor: pointer;
}
@media screen and (max-width: 1085px){
  .burger__menu{
    display: block;
  }
}
@media screen and (max-width: 1000px){
  .burger__menu{
    margin-right: 0;
  }
}

