.changed__button {
  width: 22px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px 0 5px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  background-color: #61d5df;
  cursor: pointer;
  padding: 0 5px 0 5px;
  color: #fff;
  display: none;
}

@media screen and (max-width: 750px) {
  .remove__btn,
  .add__btn,
  .export__btn {
    display: block;
  }
}
