.help__button {
  display: flex;
  align-items: center;
  height: 20px;
  border-radius: 50%;
  padding: 1px 6px;
  border: 1px solid black;
  font-size: 16px;
  cursor: pointer;
  font-family: Gilroy-bold;
  margin: 10px;
}
.help__button:hover {
  box-shadow: 0 0 1px 2px rgb(192, 192, 192);
}
@media screen and (max-width: 1000px) {
  .help__button {
    display: none;
  }
}
