.product-modal__background {
  width: calc(100% - 65px);
  height: 100vh;
  background-color: rgb(75, 85, 124, 0.8);
  position: absolute;
  top: 0px;
  left: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1085px) {
  .product-modal__background {
    width: 100%;
    left: 0px;
  }
}
.product__modal {
  border-radius: 10px;
  align-self: center;
  display: flex;
  width: 1263px;
  height: 600px;
  position: absolute;
  background-color: rgb(255, 255, 255);
}
.modal__not-found {
  font-family: Gilroy-bold;
  font-size: 25px;
  margin: 0 auto;
  align-self: center;
}
@media screen and (max-width: 1700px) {
  .product__modal {
    width: 1263px;
  }
}
@media screen and (max-width: 1600px) {
  .product__modal {
    width: 1163px;
  }
}
@media screen and (max-width: 1226px) {
  .product__modal {
    width: 98%;
  }
}
@media screen and (max-width: 1000px) {
  .product__modal {
    width: 100%;
    height: 100%;
    top: 0px;
  }
}

.exit-btn__container {
  position: relative;
}
.exit-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  color: grey;
  cursor: pointer;
}
.modal__left-side {
  flex: 1 40%;
  height: 100%;
  background-color: #fbfbfb;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px 0 0 10px;
}
.prices__container {
  width: 70%;
  height: 60px;
  margin-top: 20px;
  border-radius: 5px;
  border: 0.5px solid rgb(221, 220, 220);
  box-shadow: 0px 2px 5px rgb(160, 159, 159);
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fafafa;
}
.prices__cell {
  display: flex;
  flex-direction: column;
}
.cell__amount {
  font-size: 20px;
  color: #808080;
}
.profit__amount {
  color: #83e1e7;
}
.cell__header {
  font-family: Gilroy-regular;
  font-size: 18px;
  color: #999999;
}
.cost__container,
.profit__container {
  padding-left: 20px;
  border-left: 3px solid rgb(255, 255, 255);
}
.product-img__container {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 50%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-product__img {
  max-width: 100%;
  max-height: 100%;
}
.product-img__container-small {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 70px;
  height: 80px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 80px;
  box-shadow: 0px 0px 10px grey;
}
.product__img--small {
  width: 90%;
  height: 95%;
}
.modal__right-side {
  flex: 1 60%;
  height: 100%;
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 10px  10px 0;

}
.supply-indicators__wrapper {
  width: 80%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.supply__indicators {
  font-family: Gilroy-regular;
  color: #bbbbbb;
}
.supply__indicators > span {
  color: #83e1e7;
}
.product-title__wrapper {
  width: 80%;
}
.product-modal__title {
  font-family: Gilroy-bold;
  font-size: 25px;
}
.product-add-btn__wrapper {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.modal__counter-div {
  height: 100%;
  display: flex;
  align-items: center;
}
.modal__counter-div > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-quantity__increment,
.modal-quantity__decrement,
.modal-quantity__number {
  font-size: 20px;
  padding-bottom: 4px;
  width: 28px;
  height: 25px;
}
.modal-quantity__header {
  margin-right: 5px;
}
.modal-quantity__header > span {
  font-family: Gilroy-SemiBold;
  font-size: 18px;
  color: #9b9b9b;
}
.modal-quantity__number {
  min-width: 35px;
}
.modal-quantity__increment,
.modal-quantity__decrement {
  font-size: 25px;
  cursor: pointer;
}
.modal-quantity__increment:hover,
.modal-quantity__decrement:hover {
  background-color: rgb(190, 190, 190);
}
.product-info__wrapper {
  width: 80%;
  border-bottom: 1px solid #d7d7d7;
  display: flex;
}
.product-info__header-wrapper {
  height: 100%;
}
.product__info {
  font-family: Gilroy-medium;
  font-size: 20px;
  color: #d7d7d7;
  margin-right: 20px;
  box-sizing: border-box;
}
.product-info__wrapper-active {
  cursor: pointer;
  color: rgb(105, 104, 104);
  border-bottom: 1px solid rgb(105, 104, 104);
}
.product-info__wrapper-active > p {
  color: rgb(105, 104, 104);
}
.product-info__header-wrapper {
  cursor: pointer;
}
.product__description-wrapper {
  width: 80%;
  height: 200px;
  box-sizing: border-box;
  margin-top: 20px;
  overflow-y: auto;
  overflow-x: auto;
}
.product__description {
  font-family: Gilroy-medium;
  font-size: 16px;
  color: #7c7c7c;
}
@media screen and (max-width: 1000px) {
  .product__modal {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .modal__left-side {
    width: 100%;
  }
  .product-img__container {
    width: 240px;
    margin-bottom: 40px;
  }

  .modal__right-side {
    flex: 100%;
    margin-top: 40px;
  }
  .supply-indicators__wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .supply__indicators {
    margin-top: 10px;
  }
}
@media screen and (max-width: 754px) {
  .product-add-btn__wrapper {
    justify-content: center;
  }
}
