.burger-menu__wrapper {
  min-width: 200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.burger-menu__header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgb(204, 204, 204);
}
.drop-ship__icon {
  width: 70px;
}
.nav-link {
  text-decoration: none;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: black;
}
.nav-link:hover {
  border-left: 3px solid rgb(0, 217, 255);
  background-color: rgb(241, 253, 255);
}
.nav-link__active {
  border-left: 3px solid rgb(0, 217, 255);
  background-color: rgb(241, 253, 255);
}
