.product-service__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
}
.product-service__header {
  width: 100%;
  display: flex;
  align-items: center;
  height: 50px;
}
.product-service__type{
  margin: auto;
}

.form {
  width: 500px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow-y: auto;
}
.field-wrapper {
  margin-top: 15px;
  width: 80%;
  display: flex;
  justify-content: center;
}
.field-wrapper:first-child {
  margin-top: 20px;
}
