.product-checkbox-btn__wrapper {
  position: relative;
  height: 450px;
  width: 100%;
  /* height: 100%; */
}
.product__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border: 1.5px solid rgb(221, 221, 221);
  border-radius: 6px;
  cursor: pointer;
  box-sizing: border-box;
}
.product__img-wrapper {
  width: 100%;
  margin-top: 15px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product__img {
  max-width: 100%;
  max-height: 100%;
}
.product__title-wrapper,
.product__supplier-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 90%;
}

.product__counter-div {
  display: flex;
}
.product__counter-div > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.increment,
.decrement,
.quantity__number {
  font-size: 20px;
  padding-bottom: 4px;
  width: 25px;
  height: 25px;
}
.quantity__header {
  margin-right: 5px;
}
.quantity__header > span {
  font-family: Gilroy-SemiBold;
  font-size: 16px;
  color: #9b9b9b;
}
.quantity__number {
  min-width: 35px;
  border-top: 2px solid rgb(173, 228, 233);
  border-bottom: 2px solid rgb(173, 228, 233);
}
.increment,
.decrement {
  font-size: 23px;
  border: 2px solid rgb(173, 228, 233);
}
.increment:hover,
.decrement:hover {
  background-color: rgb(97, 213, 223);
}

.product__title {
  font-family: Gilroy-Bold;
  font-size: 18px;
  color: #6b6a6a;
}
.product__supplier {
  font-family: Gilroy-SemiBold;
  font-size: 16px;
  color: #9b9b9b;
}
.product__supplier > span {
  color: rgb(59, 187, 226);
}
.product__prices-wrapper {
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  display: flex;
  border-top: 1px solid rgb(219, 219, 219);
  justify-content: space-around;
  align-items: center;
}
.rrp__wrapper,
.price__wrapper,
.profit__wrapper {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product__rrp,
.product__price,
.product__profit {
  font-size: 20px;
  color: #363636;
  font-family: Gilroy-medium;
}
.rrp__wrapper, .price__wrapper{
  border-right: 2px solid rgb(224, 224, 224);
}
.product__profit {
  color: rgb(59, 187, 226);
}
.rrp__header,
.price__header,
.profit__header {
  font-family: Gilroy-medium;
  color: #818181;
}

.product__add-button {
  position: absolute;
  margin: 0 0 0 0;
  width: 150px;
  height: 35px;
  right: 8px;
  top: 8px;
  display: none;
}
.setting-icon__wrapper {
  display: none;
}
.setting-options__wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  top: 75px;
  right: 12px;
}

.product-checkbox-btn__wrapper:hover .product__wrapper {
  border: 2px solid rgb(59, 187, 226);
}
.product-checkbox-btn__wrapper:hover .checkbox__wrapper {
  display: block;
}
.product-checkbox-btn__wrapper:hover .setting-icon__wrapper {
  display: block;
}
.product-checkbox-btn__wrapper:hover .product__add-button {
  display: block;
}
.product__wrapper:hover {
  border: 2px solid rgb(59, 187, 226);
}
.product__wrapper--highlited {
  border: 2px solid rgb(59, 187, 226);
}
