.app {
  width: 100%;
  height: 100%;
  display: flex;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(206, 206, 206); 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: rgb(73,84,125); 
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(73,84,125);
}

@font-face {
  font-family: Gilroy-medium;
  src: url("./Gilroy-med_font/Gilroy-Medium.ttf");
}
@font-face {
  font-family: Gilroy-bold;
  src: url("./Gilroy-med_font/Gilroy-Bold.ttf");
}
@font-face {
  font-family: Gilroy-regular;
  src: url("./Gilroy-med_font/Gilroy-Medium.ttf");
}
@font-face {
  font-family: Gilroy-semibold;
  src: url("./Gilroy-med_font/Gilroy-SemiBold.ttf");
}
